.navbar-img {
    color: rgb(209, 171, 96);
    text-shadow: 0.5px 0.5px #D79E30;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.navbar-img img {
    float: left;
    height: 37px;
    width: 40px;
    color: #D79E30;
    margin-right: 12px;
    margin-top: -7px;
}

.nav-color {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-color li a {
    color: #D79E30;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

footer#main-footer {
    background: #262626;
    padding: 60px 0 30px 0;
    color: #e6e6e6;
    font-size: 11px;
    line-height: 1.4em;
}

.text-4 {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    font-size: 28px;
}

.text-3 {
    padding-top: 20px;
    color: #FAFAFA;
    font-size: 13px;
}

.icon-list {
    list-style-type: none;
    text-decoration: none;
}

.icon-color {
    color: #FF8F00;
}

.icon-list li {
    float: left;
    padding: 10px;
 }
/* 
.labell{
    padding-bottom:15px;
} */



   div.stars {
    
      width: 270px;
      display: inline-block;
      margin-top: -10px;
      padding-right:60px;
      margin-left: -10px;
      padding-bottom:5px;
    
    }
    
     
    
    input.star { display: none; }
    
     
    label.star {
    
      float: right;
    
      padding: 7px;
    
      font-size: 30px;
    
      color: rgb(144, 143, 143);
    
      transition: all .2s;
    
    }
     
    
    input.star:checked ~ label.star:before {
    
      content: '\f005';
    
      color: #FD4;
    
      transition: all .25s;
    
    }
    
     
    
    input.star-5:checked ~ label.star:before {
    
      color: #FE7;
    
      text-shadow: 0 0 20px #952;
    
    }
    
     
    
    input.star-1:checked ~ label.star:before { color: #F62; }
    

    
    label.star:hover { transform: rotate(-15deg) scale(1.3); }
    
     
    
    label.star:before {
    
      content: '\f006';
    
      font-family: FontAwesome;
    
    }
    